body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.container {
  background: #c1face;
}
.image {
  padding: 2rem;
}
h2,
h3 {
  padding: 2rem;
  background-color: #7bcf5d;
  border-radius: 15px;
  margin: 1rem;
}

.list-group-item {
  background: #c1face;
}

.list-group-item:hover {
  background: #befa6e;
  transition-duration: 200ms;
}

.card {
  margin: 1rem;
  background-color: #c1face;
  height: 100%;
}

.card-img-top {
  height: 300px;
}

.btn {
  background: #6efaeb;
  border: 1px solid #5ac9be;
  color: black;
}

.btn:hover {
  background: #befa6e;
  border: 1px solid #8ab652;
  color: black;
}

.blue {
  background: #6efa8d;
  padding: 2rem;
  font-size: large;
  border: 2px solid white;
}

.nav-item {
  border-radius: 10px;
  padding: 0.3rem;
}

.nav-item:hover {
  background: #befa6e;
  transition-duration: 200ms;
}

form {
  padding: 2.5rem;
  border-radius: 15px;
  border: 2px solid #52be6a;
  background: #6efa8d;
  margin-bottom: 3rem;
}

.accordion {
  background-color: #7bcf5d;
  border-radius: 15px;
}
footer a {
  color: #03084b;
}
